body {
  margin: 0;
  padding: 0;
  background-color: #0b0c10;
  color: #c5c6c7;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #66fcf1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
